<div class="side-bar-header">
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
      <div class="header-button">
      <%= link_to "ルーム削除", method: :delete %>
    </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to "#" %>
      </div>
    </div>
  <% end %>
</div>