<%= render "shared/header" %>
</body>
  <div class="main">
  <%# <%= render "shared/main_bar" %>
  </div>
  <div class="main">
  <div class="left_bar">
    <%= link_to "投稿する", "#", class: :main_menu %>
  </div>
</div>
</body>