<%= render "shared/header" %>
</body>
  <div class="main">
    <%= render "shared/side_bar" %>
    <div class="recruitments">
      <%= render partial: 'recruitment', collection: @recruitments %>
    </div>
  </div>
</body>