<div class="users">
  <div class='user' >
    <div class="user_nickname">
      <%= link_to user_path(user.id) do%>
      <%= user.nickname %>
      <%= "　お気に入りゲーム：" %>
      <%= user.favorite_game_title %>
      <%# <a class="follow-button" data-remote="true" rel="nofollow" data-method="post" href="/followings?following_user=4">follow</a> %>
      <% end %>
    </div>
  </div>
</div>
