<div class='user' >
  <%= link_to user_path(user.id) do%>
  <div class="user_list">
    <div class="user_nickname">
    <%= user.nickname %>さん
    </div>
    <div class="user_favolite_game">
    <%= "　お気に入りゲーム：" %>
    <%= user.favorite_game_title %>
    </div>
  </div>
  <% end %>
</div>