<div class="main">
  <div class="left_bar">
    <%= link_to "ユーザー一覧", "#", class: :main_menu %>
    <%= link_to "フォローユーザー", "#", class: :main_menu %>
    <%= link_to "チェックした募集", "#", class: :main_menu %>
    <%= link_to "チャットルーム", "#", class: :main_menu %>
  </div>
</div>
