
<div class="wrapper">
  <div class="side-bar">
    <div class="left-bar-header">
      <div class="create-recruitment">
        <%= link_to "投稿する", new_recruitment_path %>
      </div>
    </div>
    <div class="side-bar-under">
      <%= form_with(url: search_recruitments_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>
</div>