<div class="side-bar-header">
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <% room.users.each do |user| %>
        <%= link_to user.nickname, room_messages_path(room) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

