
<div class="wrapper">
  <div class="side-bar">
    <div class="left-bar-header">
      <div class="create-recruitment">
        <%= link_to "投稿する", new_recruitment_path %>
      </div>
    </div>
    <div class="side-bar-under">
    </div>
  </div>
</div>