/* ヘッダー */

.header {
  height: 10vh;
  width: 100%;
  background-color: rebeccapurple;
  margin-bottom: 0px;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: aqua;
  font-size: 50px;
  width: 200px;
  text-decoration: none;
  margin-right: 40px;
}
.nav__btn{
  display: inline-block;
  margin: 10px;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.main{
  display: flex;
  background-color: #f3fcfa;
  background-image: radial-gradient(#1abc9c 1px, #f3fcfa 1px);
  background-size: 20px 20px;
}

.nav-link{
  color: aqua;
}

/* サイドバー */

.create-recruitment a{
  background-color: #f5f376;
  color: rgb(191, 10, 236);
  font-size: 20px;
  border: 1px solid rgb(10, 66, 221);
  padding: 14px;
  text-decoration: none;
}

.left-bar-header{
  height: 100px;
  background-color: #6de4a2;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-bar-under{
  height: calc(100vh - 100px);
  background-color: #96f0b4;
  padding: 0 20px;
}

/* 投稿フォーム */

.main_page{
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.title{
  width: 500px;
  height: 200px;
}

.game_title{
  width: 500px;
}

.content{
  width: 500px;
}

.post_button{
  color: rgb(5, 5, 5);
  font-size: 20px;
  border: 1px solid rgb(14, 16, 17);
  padding: 5px;
  text-decoration: none;
  height: 40px;
  width: 60px;
}

/* 投稿一覧 */

.recruitment_page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recruitment{
  width: 800px;
  margin: 15px 0px 0px 20px;
  background-color: rgb(245, 236, 244);
  border: solid 1px #6091d3;
  border-radius: 10px;
}

.upper-recruitment{
  text-decoration: none;
}

.recruitment_game_title{
  color: black;
  font-size: 20px;
}

.recruitment_user{
  color: brown;
}

.recruitment_game_title_date{
  display: flex;
}

.recruitment_game_title{
  margin-right: 30px;
}

.recruitment-btn{
  flex-direction: column;
  margin: 15px 0px 0px 5px;
}

.edit_btn{
  text-decoration: none;
  color: white;
}

.delete_btn{
  text-decoration: none;
  color: white;
}

.delete_button{
  margin: 10px 0;
}

.edit_button{
  margin: 10px 0;
}

/* 投稿詳細 */

.detail-game-title{
  border: 2px solid black ;
  width: 100px;
  height: 10vh;
}

/* エラーメッセージ */

.error-message{
  color: red;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ユーザー一覧 */

.user{
  display: flex;
}

.user a{
  text-decoration: none;
}

.user_list{
  display: flex;
  padding: 0.5em 1em;
  margin: 10px;
  font-weight: bold;
  background: #FFF;
  border: solid 1px #6091d3;
  border-radius: 100px;
}

.user_list:hover{
  background-color: rgb(245, 222, 243);
}

.user a {
  color: #2e1170;
}

.user_nickname {
  color: rgb(201, 20, 20);
}

/* ユーザー詳細 */

.detail-table {
  width: 100vh;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  background-color: white;
}

.user_detail{
  margin: 60px auto;
}

/* ユーザー登録画面 */

.field_input_self_introduction{
  width: 500px;
}

/* チャットルーム */

.wrapper {
  display: flex;
  background-color: #f3fcfa;
  background-image: radial-gradient(#1abc9c 1px, #f3fcfa 1px);
  background-size: 20px 20px;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.side-bar-header{
  height: 100px;
  background-color: #364b66;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room a{
  color: deepskyblue;
  font-size: 20px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #4784d4;
  padding: 0 20px;
  overflow: scroll;
}

.chat-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-left: 100px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: white;
  padding: 10px;
  font-size: 10px;
  background-color: red;
}

.messages{
  height: calc(100vh - 140px);
  padding: 46px 40px 0px;
  overflow: scroll;
  background-color: #f3fcfa;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-submit{
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-message{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat-room-name{
  background-color: #f1b4ec;
  height: 50px;
  display: flex;
  align-items: center;
}