/* ヘッダー */

.header {
  height: 10vh;
  width: 100%;
  background-color: rebeccapurple;
  margin-bottom: 0px;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: aqua;
  font-size: 50px;
  width: 200px;
  text-decoration: none;
  margin-right: 40px;
}
.nav__btn{
  display: inline-block;
  margin: 10px;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.main{
  display: flex;
}

.left_bar{
  height: 90vh;
  width: 250px;
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

.main_menu{
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(238, 56, 56);
}

.nav-link{
  color: aqua;
}

/* 投稿フォーム */

.title{
  width: 500px;
  height: 70px;
}

.game_title{
  width: 500px;
}

.content{
  width: 500px;
}

/* 投稿一覧 */

.recruitment{
  width: 800px;
  margin: 20px;
  background-color: rgb(221, 240, 241);
}

.recruitment:hover{
  background-color: rgb(245, 222, 243);
}

.upper-recruitment{
  text-decoration: none;
}

.recruitment_game_title{
  color: black;
  font-size: 20px;
}

.recruitment_user{
  color: brown;
}

.recruitment_game_title_date{
  display: flex;
}

.recruitment_game_title{
  margin-right: 30px;
}

/* 投稿詳細 */

.detail-game-title{
  border: 2px solid black ;
  width: 100px;
  height: 10vh;
}

/* エラーメッセージ */

.error-message{
  color: red;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ユーザー一覧 */

.use{
  display: flex;
}

.follow-button{
  /* position: absolute; */
  display: inline-block;
  right: 40%;
  text-decoration: none;
  background-color: rgba(121,122,115,0.7);
  padding: 0 10px;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  color: white;
}

/* ユーザー詳細 */

.detail-table {

  margin-bottom: 30px;
  width: 100vh;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

/* ユーザー登録画面 */

.field_input_self_introduction{
  width: 500px;
}